html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #191765;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

header {
  margin-top: 0;
}

.container {
  width: 80%;
  padding-bottom: 35px;
}

.container_menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header .header_name {
  background: #191765;
  width: 80%;
  position: fixed;
  padding: 20px 20px 20px 0;
  margin: 0;
}

.header_name ul {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.header_name ul li {
  list-style: none;
}

.top {
  padding: 0;
}

footer h2 {
  margin-top: 150px;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #9390ff;
}

.header_name h2 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 25px;
}

.section-top h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.37px;
  color: #7d73fc;
  text-align: center;
  margin-top: 35%;
}

.section-top h2 {
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
}

.elipse_top_left {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -120px;
  top: 150px;
  background: #edecff;
  filter: blur(50px);
}

.header_name .fa-bars {
  color: white;
  display: inline-block;
  font-size: 33.33px;
  top: 0;
}

.main-text h3 {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 40px;
  border-bottom: 2px solid #646369;
}

.title-lang {
  width: 107px;
  height: 16px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.list {
  width: 104.52px;
  height: 15.48px;
  margin-bottom: 12px;
  font-size: 15px;
  list-style: none;
  align-items: center;
  color: #f5f5ff;
}

.p2 ul li {
  flex: 1;
  width: 104.52px;
  height: 15.48px;
  font-size: 17px;
  list-style: none;
  color: #f5f5ff;
  text-align: center;
  padding: 15px;
}

.frame46 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #646369;
}

.frame46 article {
  flex: 1;
  justify-content: flex-start;
}

.frame46 article ul li {
  margin: 20px 0;
}

.elipse_right {
  position: absolute;
  width: 48px;
  height: 68px;
  right: 0;
  top: 610px;
  background: #edecff;
  filter: blur(50px);
}

a {
  color: white;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  font-size: 30px;
}

a:hover {
  color: #0d99ff;
}

.top:hover {
  color: #0d99ff;
}

#top:hover {
  color: #0d99ff;
}

.social-icone {
  margin: 0 auto;
  padding: 40px;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav .social {
  flex: 1;
}

.medium {
  font-family: 'Times New Roman', Times, serif;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

#arrow-down {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 25px;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

.work p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
}

.recent-work h1 {
  color: #9490ff;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  padding: 0 0 40px 0;
  margin: 0;
  border-bottom: 2px solid #646369;
}

.div-one {
  background: white;
  height: 40vh;
  width: 100%;
  margin: 55px 0 20px 0;
}

.second h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  padding: 55px 0;
  margin: 0;
  color: #fff;
}

.second p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 30px;
}

.p2 ul {
  display: flex;
  align-content: space-between;
  padding: 0;
}

.rect {
  border-left: 1px solid #555;
}

.elipse-3 {
  position: absolute;
  width: 39.61px;
  height: 482.57px;
  top: 1424.71px;
  background: #edecff;
  filter: blur(35px);
  transform: rotate(-36.38deg);
}

.see-project p {
  text-align: center;
  width: fit-content;
  font-size: 15px;
  color: #f5f5ff;
  background: #7d73fc;
  padding: 12px;
  margin: 15px;
  margin-bottom: 12px;
}

#text-area,
#text-input,
#email {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  display: block;
  margin: 0;
}

#see-footer {
  display: flex;
  justify-content: center;
}

#m {
  font-family: 'Times New Roman', Times, serif;
}

.div-footer {
  border: 1px solid #3a3837;
}

#social {
  padding: 0;
}

.menu-section {
  position: absolute;
  height: 24px;
  left: 0;
  right: 68px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
}
