html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #191765;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  padding-bottom: 35px;
}

.container_menu {
  display: block;
  cursor: pointer;
  padding: 10px 0;
  width: auto;
  z-index: 2;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.header_name {
  display: flex;
  position: fixed;
  align-items: center;
  background: #191765;
  width: 80%;
  padding: 2% 10%;
  margin: 0;
  z-index: 3;
}

footer > form > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.li-desk {
  display: flex;
  position: fixed;
  align-items: flex-start;
  padding: 20% 10%;
  top: -5%;
  height: 110vh;
  width: 100%;
  left: -120%;
  transition: 0.3s;
  background: #191765;
  z-index: 1;
}

.li-desk ul {
  display: flex;
  gap: 45px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  transition: 0.3s;
}

.li-desk.change {
  left: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  transition: 0.7s ease;
}

li {
  list-style: none;
}

.nav-mailto {
  display: none;
}

.top {
  padding: 0;
}

footer h2 {
  margin-top: 100px;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #9390ff;
}

.header_name h2 {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 25px;
}

.section-top h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: 0.37px;
  color: #7d73fc;
  text-align: center;
  margin-top: 77px;
}

.section-top h2 {
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  text-align: center;
}

.elipse_top_left {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -120px;
  top: 150px;
  background: #edecff;
  filter: blur(50px);
  z-index: -1;
}

footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
}

footer > form > div {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-text div {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 40px;
  border-bottom: 2px solid #646369;
}

.title-lang {
  width: 107px;
  height: 16px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.list {
  width: 104.52px;
  height: 15.48px;
  margin-bottom: 12px;
  list-style: none;
  align-items: center;
  color: #f5f5ff;
  cursor: pointer;
}

.p2 ul li {
  flex: 1;
  width: 104.52px;
  height: 15.48px;
  font-size: 17px;
  list-style: none;
  color: #f5f5ff;
  text-align: center;
  padding: 0 10px;
  margin: 10px 0;
}

.poop-p2 ul li {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 5px;
  margin: 0;
}

.frame46 {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #646369;
}

.frame46 div ul li {
  margin: 20px 0;
}

.frame46 article {
  flex: 1;
  justify-content: flex-start;
}

.frame46 article ul li {
  margin: 20px 0;
}

.elipse_right {
  position: absolute;
  width: 40px;
  height: 68px;
  right: 0;
  top: 610px;
  background: #edecff;
  filter: blur(50px);
  z-index: -1;
}

a {
  color: white;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  font-size: 30px;
}

.list a {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: left;
}

.second h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  padding: 30px 0;
  margin: 0;
  color: #fff;
}

.rect {
  border-left: 1px solid #555;
  padding: 0;
}

.css {
  padding: 0;
}

.modal-header .title {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}

a:hover {
  color: #0d99ff;
}

.recent-work h1 a {
  color: #9490ff;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  text-transform: uppercase;
  width: auto;
}

.work,
.work2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #a2a3ae;
  width: auto;
}

.second {
  align-items: flex-start;
  gap: 2.5rem;
  flex-direction: row;
  margin: 90px 0;
}

.second p {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  margin-top: 10px;
  padding-bottom: 20px;
}

.see-project {
  transition-duration: 0.5s !important;
  transition-timing-function: ease-out !important;
}

.see-project button,
#resume-button,
#see-footer {
  text-align: center;
  width: fit-content;
  font-size: 15px;
  color: #f5f5ff;
  background: #7d73fc;
  border-radius: 4px;
  border: none;
  padding: 12px;
  margin: 25px 0;
  margin-bottom: 12px;
  cursor: pointer;
  background-image: linear-gradient(#9690fe 0, #6358fd 100%);
  transition: all 0.3s;
}

#see-footer,
#resume-button {
  display: flex;
  border: none;
  margin: 0 auto;
  touch-action: manipulation;
}

#resume-button {
  margin-top: 1rem;
}

.scroll-top-right {
  position: fixed;
  padding: 0;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  z-index: 999;
  opacity: 1;
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.scroll-top-right i {
  margin: 0;
  font-weight: 100;
}

.scroll-top-right.hide {
  opacity: 0;
}

.social-icone {
  margin: 0 auto;
  padding: 40px;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.medium {
  font-family: "Times New Roman", Times, serif;
}

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

.work2 {
  display: none;
}

.arrow-down {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 25px;
}

.recent-work h1 {
  padding: 0 0 40px 0;
  margin: 0;
  border-bottom: 2px solid #646369;
}

.div-one {
  overflow: hidden;
  background: none;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: 0.5s;
  position: relative;
  width: 100%;
  padding-top: 70%;
  cursor: pointer;
}

.div-two {
  width: 100%;
}

.div-two h2 {
  padding: 50px 0 30px 0;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-out !important;
}

.stories {
  margin: 0;
  padding: 0;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-out !important;
}

.div-one:hover {
  background-size: 119% 139%;
}

.p2 ul {
  display: flex;
  align-content: space-between;
  padding: 0;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-out !important;
}

.elipse-3 {
  position: absolute;
  width: 39.61px;
  height: 482.57px;
  top: 1424.71px;
  background: #edecff;
  filter: blur(35px);
  transform: rotate(-36.38deg);
  z-index: -1;
}

.elipse-4 {
  position: absolute;
  width: 60px;
  height: 261.6px;
  left: 45%;
  top: 2200px;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
  z-index: -1;
}

.elipse-5 {
  position: absolute;
  width: 308px;
  height: 155px;
  left: -5%;
  top: 3274px;
  background: rgba(237, 236, 255, 0.3);
  filter: blur(50px);
  z-index: -1;
}

.elipse-6 {
  position: absolute;
  width: 70px;
  height: 377.04px;
  left: 30%;
  top: 3860px;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
  z-index: -1;
}

#text-area,
#text-input,
#email {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  display: block;
  margin: 0;
}

#m {
  font-family: "Times New Roman", Times, serif;
}

.div-footer {
  border: 1px solid #3a3837;
}

#social {
  padding: 0;
}

.menu-section {
  position: absolute;
  height: 24px;
  left: 0;
  right: 68px;
  top: calc(50% - 24px / 2);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

#bottom {
  margin: 0;
  padding: 0;
  text-align: center;
}

input[type="text"]:valid,
input[type="email"]:valid,
textarea:valid {
  border: 1px solid rgba(0, 0, 255, 0.45);
  background-image: linear-gradient(to top, rgba(0, 0, 255, 0.176), rgba(0, 0, 255, 0.046));
}

#ellipse-menu {
  position: absolute;
  width: 226px;
  height: 427px;
  left: -150px;
  top: 150px;
  background: rgba(237, 236, 255, 0.4);
  filter: blur(50px);
  transform: rotate(25.09deg);
  z-index: -1;
}

#ellipse-menu-2 {
  position: absolute;
  width: 150.13px;
  height: 180px;
  left: 150px;
  top: 450px;
  background: rgba(237, 236, 255, 0.9);
  filter: blur(50px);
  transform: rotate(40.52deg);
  z-index: -1;
}

.delete {
  color: #191765;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-item a.link {
  color: #0d99ff;
}

/* POPUP - STYLE */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid #fff;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.147);
  width: 90%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 4% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 30px;
}

.snapshoot {
  overflow: hidden;
  background: white;
  margin: 0 8% 4% 8%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: 0.5s;
  position: relative;
  background-color: white;
  height: 181px;
}

.modal-body {
  padding: 0 8% 4% 8%;
  color: white;
  text-align: center;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(30px);
  background: #1a176589;
  pointer-events: none;
  z-index: 8;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.poop-p2 ul {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.poop-project button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

#see-source {
  margin-top: 10px;
  margin-bottom: 30px;
}

#github-none {
  display: none;
}

.see-project button:hover,
#see-footer:hover,
#resume-button:hover {
  background: #5046d6;
}

.main-section:hover,
.list:hover,
.modal-header .title:hover,
.modal-header .close-button:hover {
  color: #0d99ff;
}

.scroll-top-right:hover {
  background: unset;
  color: #0d99ff;
}

/* VALIDATION FORM */
input:focus,
textarea:focus {
  outline: none;
  border: none;
}

#message,
#name,
#email {
  border: none;
  width: inherit;
  padding: 10px;
  font-size: 16px;
  display: block;
  margin: 0;
  margin-top: 1rem;
}

.error input,
.error textarea {
  background-image:
    linear-gradient(
      to top,
      rgba(255, 0, 0, 0.176),
      rgba(255, 0, 0, 0.046)
    );
}

.success input,
.success textarea {
  border: 2px solid blue;
  background: white;
  background-image:
    linear-gradient(
      to top,
      rgba(0, 0, 255, 0.176),
      rgba(0, 0, 255, 0.046)
    );
  font-size: 14px;
  width: inherit;
  margin-top: 0;
  padding: 10px;
}

.error small {
  color: red;
  background: white;
  font-size: 14px;
  width: inherit;
  margin-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 5px;
}

#overralError {
  margin-top: 30px;
  border-radius: 4px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* FOR DESKTOP */
@media (min-width: 768px) {
  .container_menu {
    display: none;
  }

  #top {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }

  #ellipse-menu {
    display: none;
  }

  #ellipse-menu-2 {
    display: none;
  }

  .nav-mailto {
    display: block;
  }

  .fa-envelope {
    font-size: 20px;
  }

  .section-top h1 {
    font-weight: 700;
    font-size: 90px;
    line-height: 105px;
    margin-bottom: 0;
    animation-duration: 2s;
    animation-name: slidein;
  }

  .header_name {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 23px 200px;
    width: 80%;
    z-index: 7;
  }

  .recent-work h1 a {
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    margin-top: 80px;
    text-transform: none;
    width: auto;
  }

  .li-desk {
    position: absolute;
    top: 25%;
    margin: 0;
    padding: 0;
    height: unset;
    width: fit-content;
    left: unset;
    transition: 0.3s;
  }

  .li-desk ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 55px;
    color: white;
    transition: 0.3s;
  }

  .li-desk ul li a {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    padding: 0;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  footer h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
  }

  .section-top h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-top: 24px;
    color: #dfe1e6;
    animation-duration: 1.7s;
    animation-name: moveLeft300px;
    animation-direction: alternate;
  }

  @keyframes moveLeft300px {
    from {
      margin-left: 0%;
      width: 300%;
    }

    to {
      margin-left: 100%;
      width: 100%;
    }
  }

  .main-text div {
    margin-top: 88px;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    color: #b3bac5;
  }

  .frame46 {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid #646369;
  }

  .social-icone {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .work,
  .work2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transition-duration: 0.5s !important;
    transition-timing-function: ease-out !important;
  }

  .work {
    order: -1;
  }

  .elipse_top_left {
    position: absolute;
    width: 184px;
    height: 184px;
    left: 5%;
    top: 237px;
    background: #edecff;
    filter: blur(50px);
    z-index: -1;
  }

  footer .social-icone {
    display: flex;
    justify-content: center;
  }

  .p2 ul {
    float: left;
    width: 30vw;
  }

  .see-project button {
    clear: both;
    margin: 120px 0;
    margin: 40px 0 0 0;
  }

  .second {
    display: flex;
    align-items: center;
  }

  .div-one {
    padding-top: 40%;
    position: inherit;
  }

  .div-two {
    margin: 0;
    padding: 0;
    width: 30vw;
  }

  .div-two h2 {
    padding: 0 0 30px 0;
  }

  .stories {
    margin: 0;
    padding: 0;
  }

  footer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .elipse_right {
    position: absolute;
    width: 226px;
    height: 226px;
    right: 20px;
    top: 310px;
    background: #edecff;
    filter: blur(50px);
    z-index: -1;
  }

  /* POPUP - STYLE */
  .modal {
    width: 60%;
  }

  .modal-header {
    padding: 2% 5%;
  }

  .snapshoot {
    margin: 0 5% 2% 5%;
    height: 250px;
  }

  .modal-body {
    padding: 0 5% 2% 5%;
  }

  #overlay {
    background: rgba(0, 0, 0, 0.462);
  }

  .poop-project button {
    margin: 0;
  }

  #see-source {
    margin-top: 0;
    margin-bottom: 0;
  }

  .poop-project {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  #github-none {
    display: block;
  }

  .poop-p2 {
    display: flex;
    width: 100%;
  }
}
